<div class="sidebar">
    <div class="sidebar-header">
        <div class="logo-container">
            <img src="../../../../assets/images/logo.svg" alt="">
            <span>Parivaar</span>
        </div>
        <small>India’s First Local Community App</small>
    </div>

    <ul class="sidebar-menu">
        <li>
            <a routerLink="/pages/manage-communities" 
                routerLinkActive="active">
                <i class="pi pi-th-large"></i>
                <span>All Communities</span>
            </a>
            <a routerLink="/pages/manage-profile" routerLinkActive="active">
                <i class="pi pi-user"></i>
                <span>My Profile</span>
            </a>
            <a routerLink="/pages/about-us" routerLinkActive="active">
                <i class="pi pi-info-circle"></i>
                <span>About Us</span>
            </a>
            <a routerLink="/pages/help-center" routerLinkActive="active">
                <i class="pi pi-phone"></i>
                <span>Help Center</span>
            </a>
        </li>
    </ul>

    <div class="sidebar-footer">
        <ul>
            <li>
                <a (click)="onRoute('/auth')">
                    <i class="pi pi-sign-out"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</div>