<div class="header-container">
    <!-- <p-dropdown [options]="communities" [(ngModel)]="selectedCommunity" optionLabel="name" [showClear]="true"
            (onChange)="onChangeCommunity()" placeholder="Select a Community"></p-dropdown> -->
    <div class="row">
        <div class="col-2 d-block d-md-none">
            <i class="pi pi-bars" (click)="commonService.toggleSidebar()"></i>
        </div>
        <div class="col-md-12 col-10 text-right">
            <h2>Hi, {{user?.firstName}} {{user?.lastName}}</h2>
        </div>
    </div>
</div>