<!-- <p-menubar [model]="items">
    <ng-template pTemplate="start">
        <button pButton pRipple type="button" (click)="toggleSidebar()" icon="pi pi-bars"
            class="p-button-rounded p-button-secondary p-button-text"></button>
    </ng-template>
    <ng-template pTemplate="end">
        <p-dropdown [options]="communities" [(ngModel)]="selectedCommunity" optionLabel="name" [showClear]="true"
            (onChange)="onChangeCommunity()" placeholder="Select a Community"></p-dropdown>
        &nbsp;<i class="pi pi-fw pi-power-off"></i> <span> Quit</span> &nbsp;
    </ng-template>
</p-menubar>

<p-sidebar [(visible)]="visibleSidebar" [showCloseIcon]="false"
           class="sidebar" [modal]="true" [position]="'left'">
  <div class="sidebar-header">
    <img src="https://www.primefaces.org/primeng-v13-lts/assets/showcase/images/primeng.svg" alt="Logo">
    <h2>Parivaar</h2>
  </div>
  <ul class="sidebar-menu">
    <li>
      <a (click)="onRoute('/pages/manage-communities')">
        <i class="pi pi-users"></i>
        <span>All Communities</span>
      </a>
    </li>
    <li>
      <a (click)="toggleSidebar()">
        <i class="pi pi-cog"></i>
        <span>Settings</span>
      </a>
    </li>
  </ul>
</p-sidebar> -->

<div class="container-fluid">
  <div class="row">
    <ng-container *ngIf="commonService.showSidebar">
      <div class="col-md-2 px-0">
        <app-sidebar></app-sidebar>
      </div>
    </ng-container>
    <div class="col-md-10" [ngClass]="commonService.showSidebar ? 'col-md-10 d-none d-md-block' : 'col-md-12'">
      <div class="row">
        <div class="col-md-12 px-0">
          <app-header></app-header>
        </div>
        <div class="col-md-12 main-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </div>
  </div>
</div>