.main-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.w-48 {
    width: 48%;
}
.header {
    border-bottom: 1px solid #EBEBEB !important;
    h2 {
        font-size: var(--secondary-font-size);
        font-weight: 700;
    }
}
.body {
    padding: 32px;
}
// .login-banner {
//     width: 100%;
//     height: 476px;
// }
.header {
    width: 100%;
    height: 80px;
    border-bottom: 1px solid #B0B0B0;
    display: flex;
    align-items: center;
    padding: 0 0 0 60px;
    img {
        width: 60px;
        }
    h2 {
        font-size: var(--primary-font-size);
        color: var(--primary-color);
        margin-left: 12px;
    }
}

.footer{
    height: 80px;
    display: flex;
    justify-content: center;
    color: #8897ae;
    align-items: center;
    border-top: 1px solid #B0B0B0;
}