<div class="login-container">
    <p-card>
        <div class="row">
            <div class="col-12 text-center">
                <h1>Welcome Back !</h1>
                <p>Please enter your mobile number</p>
                <div class="otp-container">
                    <span>+91</span>
                    <span class="mx-4">|</span>
                    <ng-container *ngIf="!isOtpSent">
                        <p-inputMask [(ngModel)]="phoneNumber" mask="9 9 9 9  - 9 9  - 9 9 9 9"
                            placeholder="O O O O  -  O O  - O O O O"></p-inputMask>
                    </ng-container>
                    <ng-container *ngIf="isOtpSent">
                        <p-inputMask [(ngModel)]="otp" mask="9 9 9 9 9 9" placeholder="O O O O O O"></p-inputMask>
                    </ng-container>
                </div>
                <ng-container *ngIf="!isOtpSent">
                    <button pButton pRipple (click)="onSignin()" type="button"
                        label="Get OTP" class="w-100 my-3 bg-primary"></button>
                </ng-container>
                <ng-container *ngIf="isOtpSent">
                    <button pButton pRipple (click)="onOtpVerify()" type="button"
                        label="Verify OTP" class="w-100 my-3 bg-primary"></button>
                </ng-container>
                <div class="text-center">
                    <span>Didn’t receive code?</span> <a class="link" (click)="resendOtp()">&nbsp;&nbsp;Resend</a>
                </div>
            </div>
        </div>
    </p-card>
</div>