<div class="container-fluid">
    <div class="member-list-container">
        <p-card>
            <div class="row mb-4">
                <div class="col-6 my-auto">
                    <h2>{{totalRecords <= 1 ? 'Member' : 'Members' }}({{totalRecords}})</h2>
                </div>
                <div class="col-6 text-right">
                    <button pButton pRipple type="button" icon="pi pi-plus" label="Add Member"
                        (click)="openAddEditMemberModal()"
                        class="p-button-outlined primary-button-outlined p-button-rounded"></button>
                </div>
            </div>

            <app-filter [title]="'Members'" [type]="'members'"
                (getAllMembers)="getAllMembersByFilter($event)"></app-filter>

            <ng-container *ngIf="selectedList.length>0">
                <div class="row my-4">
                    <div class="col-6 my-auto">
                        <h2>{{selectedList.length}} Member Selected</h2>
                    </div>
                    <div class="col-6 text-right">
                        <button pButton pRipple type="button" label="Delete Member" (click)="deleteMemberConfirmation()"
                            class="p-button-outlined p-button-rounded p-button-danger mr-2"></button>
                        <button pButton pRipple type="button" label="Make Admin" (click)="makeAdminConfirmation()"
                            class="p-button-outlined primary-button-outlined p-button-rounded"></button>
                    </div>
                </div>
            </ng-container>

            <div class="row" [ngClass]="{'my-4':selectedList.length == 0}">
                <div class="col-12">
                    <!-- <p-table [value]="allCommunityMembers" [resizableColumns]="true"
                        styleClass="p-datatable-sm p-datatable-gridlines p-datatable-striped" responsiveLayout="scroll">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pResizableColumn pSortableColumn="firstName">Full Name <p-sortIcon
                                        field="firstName"></p-sortIcon></th>
                                <th pResizableColumn pSortableColumn="phone">Phone Number <p-sortIcon
                                        field="phone"></p-sortIcon></th>
                                <th pResizableColumn pSortableColumn="bloodGroup">Blood Group <p-sortIcon
                                        field="bloodGroup"></p-sortIcon></th>
                                <th pResizableColumn pSortableColumn="education">Education <p-sortIcon
                                        field="education"></p-sortIcon></th>
                                <th pResizableColumn pSortableColumn="business">Business <p-sortIcon
                                        field="business"></p-sortIcon></th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-data>
                            <tr>
                                <td routerLink="/pages/manage-communities/{{communityId}}/member-detail/{{data.id}}">{{data.firstName}} {{data.lastName}}</td>
                                <td routerLink="/pages/manage-communities/{{communityId}}/member-detail/{{data.id}}">{{data.phone}}</td>
                                <td routerLink="/pages/manage-communities/{{communityId}}/member-detail/{{data.id}}">{{data.bloodGroup | bloodGroup}}</td>
                                <td routerLink="/pages/manage-communities/{{communityId}}/member-detail/{{data.id}}">
                                    {{data?.education}}
                                </td>
                                <td routerLink="/pages/manage-communities/{{communityId}}/member-detail/{{data.id}}">
                                    {{data?.business?.name}}
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr class="emptymessage">
                                <td colspan="5" class="text-center">
                                    No data found
                                </td>
                            </tr>
                        </ng-template>
                    </p-table> -->
                    <p-table [columns]="cols" [value]="data" [paginator]="true" [totalRecords]="totalRecords"
                        [scrollable]="true" scrollHeight="500px" [virtualScroll]="true"
                        [first]="firstRowIndex" [rows]="rowsPerPage" [rowsPerPageOptions]="rowsPerPageOptions" (onPage)="onPageChange($event)">
                        <!-- [first]="firstRowIndex" [rows]="rowsPerPage" (onPage)="onPageChange($event)"> -->
                        <ng-template pTemplate="header" let-columns>
                            <tr>
                                <th *ngFor="let col of columns">
                                    {{col.header}}
                                </th>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-rowData let-columns="columns">
                            <tr routerLink="/pages/manage-communities/{{communityId}}/member-detail/{{rowData['id']}}">
                                <td *ngFor="let col of columns">
                                    <ng-container
                                        *ngIf="col.field !== 'firstName' && col.field !== 'bloodGroup' && col.field !== 'business'">
                                        {{rowData[col.field]}}
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'firstName'">
                                        {{rowData['firstName']}} {{rowData['lastName']}}
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'bloodGroup'">
                                        {{rowData[col.field] | bloodGroup}}
                                    </ng-container>
                                    <ng-container *ngIf="col.field === 'business'">
                                        {{rowData['business']?.name || "-"}}
                                    </ng-container>
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="emptymessage">
                            <tr class="emptymessage">
                                <td colspan="5" style="justify-content: center;">
                                    No data found
                                </td>
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="paginatorleft" let-state>
                            Showing {{ state.first + 1}} to
                            {{
                            state.rows + state.first > data.length
                            ? data.length
                            : state.rows + state.first
                            }}
                            of {{ data.length }} entries
                        </ng-template>
                    </p-table>
                </div>
            </div>
        </p-card>
    </div>
</div>

<p-confirmDialog #makeAdmin key="makeAdminDialog" styleClass="confirmationDialog"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}">
    <ng-template pTemplate="header">
        <h2 class="text-primary">Make Admin</h2>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton label="Cancel" class="p-button-outlined p-button-rounded p-button-secondary"
            (click)="makeAdmin.reject()"></button>
        <button type="button" pButton label="Confirm" class="p-button-rounded btn-primary"
            (click)="makeAdmin.accept()"></button>
    </ng-template>
</p-confirmDialog>

<!-- Add Member Modal Start -->
<p-dialog position="top-right" class="add-edit-community-modal full-height-modal" [modal]="true" [draggable]="false"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}"
    [(visible)]="addEditMemberModalDisplay">
    <ng-template pTemplate="header">
        <h2>Add Member</h2>
    </ng-template>
    <app-add-edit-member [communityId]="communityId" (onSuccess)="getAllCommunityMembers()"></app-add-edit-member>
</p-dialog>
<!-- Add Member Modal End -->