p {
    padding: 0;
    margin: 10px 0 0 0;
    font-weight: 400;
    font-size: var(--primary-sm-font-size);
    letter-spacing: 1px;
    word-spacing: 2px;
    color: var(--text-secondary-color);
}
h3 {
    font-size: var(--primary-font-size)!important;
}