<!-- <p-menubar [model]="items">
  <ng-template pTemplate="start">
    <button pButton pRipple type="button" (click)="toggleSidebar()" icon="pi pi-bars" class="p-button-rounded p-button-secondary p-button-text"></button>
  </ng-template>
</p-menubar>

<p-sidebar [(visible)]="visibleSidebar1" styleClass="p-sidebar-sm" [baseZIndex]="-111">
  <img src="https://www.primefaces.org/primeng-v13-lts/assets/showcase/images/primeng.svg" alt="">
</p-sidebar> -->

<router-outlet></router-outlet>
<p-toast></p-toast>
