<div class="container-fluid mb-4">
    <div class="info-container">
        <div class="row mb-4">
            <div class="col-6 my-auto">
                <h2>{{data?.firstName}} {{data?.lastName}}</h2>
            </div>
            <div class="col-6 text-right">
                <button pButton pRipple type="button" (click)="openAddEditMemberModal()" label="Update Information"
                    class="p-button-outlined primary-button-outlined p-button-rounded mr-2"></button>
                <!-- <button pButton pRipple type="button"
                    label="Remove Admin Access" class="p-button-outlined p-button-rounded p-button-danger"></button> -->
            </div>
        </div>
        <p-card>
            <div class="row mb-4">
                <div class="col-6 my-auto">
                    <h3>Personal Information</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="text-muted mb-1">Profile Picture</label>
                    <div class="preview-image" style="background-image: url({{imagePreviewUrl}});">
                    </div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        First Name
                    </label>
                    <p>{{data?.firstName || '-'}}</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        Last Name
                    </label>
                    <p>{{data?.lastName || '-'}}</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Phone Number
                    </label>
                    <p>{{data?.phone || '-'}}</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        Date of Birth
                    </label>
                    <p>{{data?.dob || '-'}}</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Guardian Name
                    </label>
                    <p>{{data?.guardianName || '-'}}</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        Wedding Date
                    </label>
                    <p>{{data?.weddingDate || '-'}}</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Email
                    </label>
                    <p>{{data?.email || '-'}}</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Gender
                    </label>
                    <p>{{data?.gender || '-'}}</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        Blood Group
                    </label>
                    <p>{{data?.bloodGroup || '-'}}</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Education
                    </label>
                    <p>{{data?.education || '-'}}</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        Landline
                    </label>
                    <p>{{data?.landline || '-'}}</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Native Place
                    </label>
                    <p>{{data?.nativePlace || '-'}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-6 my-auto">
                    <h3>Business Information</h3>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Name
                    </label>
                    <p>{{data?.business?.name || '-'}}</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        Type
                    </label>
                    <p>{{data?.business?.type || '-'}}</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Sub Type
                    </label>
                    <p>{{data?.business?.subType || '-'}}</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        Website
                    </label>
                    <p>{{data?.business?.website || '-'}}</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Phone
                    </label>
                    <p>{{data?.business?.phone || '-'}}</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        Address
                    </label>
                    <p>{{data?.business?.address || '-'}}</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Description
                    </label>
                    <p>{{data?.business?.description || '-'}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12">
                    <p-divider></p-divider>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-6 my-auto">
                    <h3>Address</h3>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Full Address
                    </label>
                    <p>{{data?.address?.fullAddress || '-'}}</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        State
                    </label>
                    <p>{{data?.address?.state || '-'}}</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        City
                    </label>
                    <p>{{data?.address?.city || '-'}}</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        Pincode
                    </label>
                    <p>{{data?.address?.pincode || '-'}}</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Locality
                    </label>
                    <p>{{data?.address?.locality || '-'}}</p>
                </div>
            </div>
        </p-card>
    </div>
</div>


<!-- Add Member Modal Start -->
<p-dialog position="top-right" class="add-edit-community-modal full-height-modal" [modal]="true" [draggable]="false"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}"
    [(visible)]="addEditMemberModalDisplay">
    <ng-template pTemplate="header">
        <h2>Edit Member</h2>
    </ng-template>
    <ng-container *ngIf="data">
        <app-add-edit-member [id]="id" [data]="data" (onSuccess)="getData()"></app-add-edit-member>
    </ng-container>
</p-dialog>
<!-- Add Member Modal End -->


<app-family-members-listing [data]="familyMembers" [relationshipId]="id" [communityId]="communityId" (reload)="reload()"></app-family-members-listing>