<div class="container-fluid mb-4">
    <div class="info-container">
        <div class="row mb-4">
            <div class="col-6 my-auto d-flex align-item-center">
                <i class="pi pi-arrow-left mr-3 cursor-pointer" (click)="goBack()"></i>
                <h2>{{data?.firstName}} {{data?.lastName}}</h2>
            </div>
            <div class="col-6 text-right">
                <button pButton pRipple type="button" (click)="openAddEditMemberModal()" [label]="!isFamilyMember ? 'Update Profile' : 'Update Family Member'"
                    class="p-button-outlined primary-button-outlined p-button-rounded mr-2"></button>
                <button pButton pRipple type="button" label="Delete Member" (click)="deleteMemberConfirmation()"
                    class="p-button-outlined p-button-rounded p-button-danger"></button>
            </div>
        </div>
        <p-card>
            <div class="row mb-4">
                <div class="col-6 my-auto">
                    <h3>Personal Information</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <label class="text-muted mb-4">Profile Picture</label><br>
                    <div class="preview-image" [ngStyle]="{'background-image': getCover()}">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6 my-3">
                    <label class="text-muted">
                        First Name
                    </label>
                    <p>{{data?.firstName || '-'}}</p>
                </div>
                <div class="col-6 my-3">
                    <label class="text-muted">
                        Last Name
                    </label>
                    <p>{{data?.lastName || '-'}}</p>
                </div>
                <div class="col-6 my-3" *ngIf="isFamilyMember">
                    <label class="text-muted">
                        Relationship Type
                    </label>
                    <p>{{relationship?.type || '-'}}</p>
                </div>
                <div class="col-6 my-3">
                    <label class="text-muted">
                        Phone Number
                    </label>
                    <p>{{data?.phone || '-'}}</p>
                </div>
                <div class="col-6 my-3">
                    <label class="text-muted">
                        Date of Birth
                    </label>
                    <p>{{(data?.dob | date:'dd MMMM yyyy') || '-'}}</p>
                </div>
                <div class="col-6 my-3">
                    <label class="text-muted">
                        Gender
                    </label>
                    <p>{{data?.gender || '-'}}</p>
                </div>
                <div class="col-6 my-3">
                    <label class="text-muted">
                        Blood Group
                    </label>
                    <p>{{(data?.bloodGroup | bloodGroup) || '-'}}</p>
                </div>
                <div class="col-6 my-3">
                    <label class="text-muted">
                        Guardian Name (पति / पिता का नाम)
                    </label>
                    <p>{{data?.guardianName || '-'}}</p>
                </div>
                <div class="col-6 my-3">
                    <label class="text-muted">
                        Wedding Date
                    </label>
                    <p>{{data?.weddingDate || '-'}}</p>
                </div>
                <div class="col-6 my-3">
                    <label class="text-muted">
                        Email
                    </label>
                    <p>{{data?.email || '-'}}</p>
                </div>
                <div class="col-6 my-3">
                    <label class="text-muted">
                        Education
                    </label>
                    <p>{{data?.education || '-'}}</p>
                </div>
                <div class="col-6 my-3">
                    <label class="text-muted">
                        Landline
                    </label>
                    <p>{{data?.landline || '-'}}</p>
                </div>
                <div class="col-6 my-3">
                    <label class="text-muted">
                        Native Place
                    </label>
                    <p>{{data?.nativePlace || '-'}}</p>
                </div>
            </div>

            <div class="row">
                <div class="col-12 text-center">
                    <button pButton pRipple (click)="toggleShowMore()" type="button"
                        label="{{!isShowMore ? 'Show More' : 'Show Less'}}"
                        class="p-button-rounded btn-primary"></button>
                </div>
            </div>

            <ng-container *ngIf="isShowMore">
                <ng-container *ngIf="!isFamilyMember">
                    <div class="row">
                        <div class="col-12">
                            <p-divider></p-divider>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-6 my-auto">
                            <h3>Address</h3>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-6">
                            <label class="text-muted">
                                Full Address
                            </label>
                            <p>{{data?.address?.fullAddress || '-'}}</p>
                        </div>
                        <div class="col-6">
                            <label class="text-muted">
                                City
                            </label>
                            <p>{{data?.address?.city || '-'}}</p>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-6">
                            <label class="text-muted">
                                State
                            </label>
                            <p>{{data?.address?.state || '-'}}</p>
                        </div>
                        <div class="col-6">
                            <label class="text-muted">
                                Pincode
                            </label>
                            <p>{{data?.address?.pincode || '-'}}</p>
                        </div>
                    </div>
                    <div class="row my-4">
                        <div class="col-6">
                            <label class="text-muted">
                                Locality
                            </label>
                            <p>{{data?.address?.locality || '-'}}</p>
                        </div>
                    </div>
                </ng-container>

                <div class="row">
                    <div class="col-12">
                        <p-divider></p-divider>
                    </div>
                </div>

                <div class="row mb-4">
                    <div class="col-6 my-auto">
                        <h3>Business Information</h3>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-6">
                        <label class="text-muted">
                            Name
                        </label>
                        <p>{{data?.business?.name || '-'}}</p>
                    </div>
                    <div class="col-6">
                        <label class="text-muted">
                            Type
                        </label>
                        <p>{{data?.business?.type || '-'}}</p>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-6">
                        <label class="text-muted">
                            Sub Type
                        </label>
                        <p>{{data?.business?.subType || '-'}}</p>
                    </div>
                    <div class="col-6">
                        <label class="text-muted">
                            Website
                        </label>
                        <p>{{data?.business?.website || '-'}}</p>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-6">
                        <label class="text-muted">
                            Phone
                        </label>
                        <p>{{data?.business?.phone || '-'}}</p>
                    </div>
                    <div class="col-6">
                        <label class="text-muted">
                            Address
                        </label>
                        <p>{{data?.business?.address || '-'}}</p>
                    </div>
                </div>
                <div class="row my-4">
                    <div class="col-6">
                        <label class="text-muted" (click)="scrollToTop()">
                            Description
                        </label>
                        <p>{{data?.business?.description || '-'}}</p>
                    </div>
                </div>
            </ng-container>

        </p-card>
    </div>
</div>


<!-- Update Member Modal Start -->
<p-dialog position="top-right" class="add-edit-community-modal full-height-modal" [modal]="true" [draggable]="false"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}"
    [(visible)]="addEditMemberModalDisplay">
    <ng-template pTemplate="header">
        <h2>Edit Member</h2>
    </ng-template>
    <ng-container *ngIf="data && addEditMemberModalDisplay">
        <app-add-edit-member [id]="id" [data]="data" (onSuccess)="getData()"></app-add-edit-member>
    </ng-container>
</p-dialog>
<!-- Update Member Modal End -->


<!-- Update Family Member Modal Start -->
<p-dialog position="top-right" class="add-edit-community-modal full-height-modal" [modal]="true" [draggable]="false"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}"
    [(visible)]="addEditFamilyMemberModalDisplay">
    <ng-template pTemplate="header">
        <h2>Update Family Member</h2>
    </ng-template>
    <ng-container *ngIf="data && isShowFamilyMember && addEditFamilyMemberModalDisplay">
        <app-add-edit-family-member [communityId]="communityId" [id]="id" [data]="data" [relationship]="relationship" [relationshipId]="relationshipId"
            (onSuccess)="getData()"></app-add-edit-family-member>
    </ng-container>
</p-dialog>
<!-- Update Family Member Modal End -->

<ng-container *ngIf="data?.isAccountManager">
    <app-family-members-listing [data]="familyMembers" [memberDetails]="data" [relationshipId]="id"
        [communityId]="communityId" (reload)="reload($event)"></app-family-members-listing>
</ng-container>


<p-confirmDialog #deleteMember key="deleteMemberDialog" styleClass="confirmationDialog"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}">
    <ng-template pTemplate="header">
        <h2 class="text-danger">Delete Members</h2>
    </ng-template>
    <ng-template pTemplate="footer">
        <button type="button" pButton label="Cancel" class="p-button-outlined p-button-rounded p-button-secondary"
            (click)="deleteMember.reject()"></button>
        <button type="button" pButton label="Confirm" class="p-button-rounded p-button-danger"
            (click)="deleteMember.accept()"></button>
    </ng-template>
</p-confirmDialog>