<form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="row">
        <div class="col-12">
            <label class="d-block">Logo</label>
            <div class="logo">
                <i class="pi pi-plus"></i>
                <div class="preview-image" (click)="logo.click()" [ngStyle]="{'background-image': getCover()}">
                </div>
                <input type="file" #logo class="d-none" (change)="onSelectFile($event)">
            </div>
        </div>
        <div class="col-12 my-2">
            <label>Name</label>
            <input type="text" formControlName="name" class="custom-form-control">
            <field-error [control]="name"></field-error>
        </div>
        <div class="col-12 my-2">
            <label>Description</label>
            <input type="text" formControlName="description" class="custom-form-control">
            <field-error [control]="description"></field-error>
        </div>
        <div class="col-12 my-2">
            <label>Type</label>
            <p-dropdown class="custom-dropdown-control" formControlName="type" [options]="types"
                (onChange)="onSelectType()" optionLabel="label" optionValue="id" placeholder="Type"></p-dropdown>
            <field-error [control]="type"></field-error>
        </div>
        <div class="col-12 my-2">
            <label>Sub-Type</label>
            <p-dropdown class="custom-dropdown-control" formControlName="subType" [options]="subTypes"
                optionLabel="label" optionValue="id" placeholder="Sub Type"></p-dropdown>
            <field-error [control]="subType"></field-error>
        </div>
        <div class="col-12 my-2" *ngIf="id && isSuperAdmin">
            <label>Status</label>
            <p-dropdown class="custom-dropdown-control" formControlName="status" [options]="statusOptions"
                optionLabel="label" optionValue="id" placeholder="Status"></p-dropdown>
            <field-error [control]="subType"></field-error>
        </div>
        <br><br><br><br>
        <br><br><br><br>
        <div class="col-12 modal-footer-fixed">
            <button pButton pRipple [disabled]="formData.invalid" type="submit"
                label="{{id ? 'Update' : 'Add'}} Community" icon="{{!id ? 'pi pi-plus' : ''}}"
                class="p-button-rounded button-with-icon btn-primary"></button>
        </div>
    </div>
</form>