<form>
    <div class="row">
        <div class="col-12">
            <label class="d-block">Logo</label>
            <div class="logo">
                <i class="pi pi-plus"></i>
                <div class="preview-image" style="background-image: url({{imagePreviewUrl}});" (click)="logo.click()">
                </div>
                <!-- <img src="./assets/images/user.png" alt=""> -->
                <input type="file" #logo class="d-none">
            </div>
        </div>
        <div class="col-12 my-2">
            <label>Name</label>
            <input type="text" class="custom-form-control">
        </div>
        <div class="col-12 my-2">
            <label>Description</label>
            <input type="text" class="custom-form-control">
        </div>
        <div class="col-12 my-2">
            <label>Type</label>
            <input type="text" class="custom-form-control">
        </div>
        <div class="col-12 my-2">
            <label>Sub-Type</label>
            <input type="text" class="custom-form-control">
        </div>
        <div class="col-12 modal-footer-fixed">
            <button pButton pRipple type="button" label="{{id ? 'Update' : 'Add'}} Community" icon="{{!id ? 'pi pi-plus' : ''}}" class="p-button-rounded button-with-icon btn-primary"></button>
        </div>
    </div>
</form>