<div class="container" style="min-height: 50vh;">
  <div class="row empty-view-container mx-auto">
    <div class="col-md-12 my-auto mx-auto">
      <ng-content select="div"></ng-content>
      <ng-content select="img"></ng-content>
      <ng-content select="svg"></ng-content>
      <ng-content select="b"></ng-content>
      <ng-content select="i"></ng-content>
      <ng-content select="h1"></ng-content>
      <ng-content select="h2"></ng-content>
      <ng-content select="h3"></ng-content>
      <ng-content select="h4"></ng-content>
      <ng-content select="h5"></ng-content>
      <ng-content select="p"></ng-content>
      <ng-content select="button"></ng-content>
      <ng-content select="span"></ng-content>
      <ng-content select="a"></ng-content>
    </div>
  </div>
</div>