<div class="container-fluid mb-4">
    <div class="info-container">
        <p-card>
            <div class="row mb-4">
                <div class="col-6 my-auto">
                    <h2>Community Info</h2>
                </div>
                <div class="col-6 text-right">
                    <button pButton pRipple (click)="openAddEditCommunityModal()" type="button" icon="pi pi-plus"
                        label="Edit" class="p-button-outlined p-button-rounded"></button>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Name
                    </label>
                    <p>Terapan Sabha</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        Description
                    </label>
                    <p>Terapan Sabha <br>Terapan Sabha</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        City
                    </label>
                    <p>Bangalore</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        Type
                    </label>
                    <p>Jain</p>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Sub-Type
                    </label>
                    <p>Terapanth</p>
                </div>
                <div class="col-6">
                    <label class="text-muted">
                        Logo
                    </label>
                    <div class="preview-image" style="background-image: url(../../../../../assets/images/user.png);"></div>
                </div>
            </div>
            <div class="row my-4">
                <div class="col-6">
                    <label class="text-muted">
                        Status
                    </label>
                    <span [class]="'customer-badge ' + 'pending'">Pending Activation</span>
                </div>
            </div>
        </p-card>
    </div>
</div>

<app-members-listing></app-members-listing>

<!-- Edit Community Modal Start -->
<p-dialog position="top-right" class="full-height-modal" [modal]="true" [draggable]="false"
    [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [style]="{width: '30vw'}" [(visible)]="addEditModalDisplay">
    <ng-template pTemplate="header">
        <h2>Edit Community</h2>
    </ng-template>
    <app-add-edit [id]="id"></app-add-edit>
</p-dialog>
<!-- Edit Community Modal End -->