.info-container {
    label {
        font-size: var(--tertiary-font-size);
        font-weight: 500;
        display: block;
    }
    p {
        padding: 0;
        margin: 0;
        font-weight: 500;
        font-size: var(--secondary-font-size);
    }
}
