.logo {
    i {
        color: #ffff;
        background: #5196fa;
        border-radius: 24px;
        padding: 4px;
        font-size: 10px;
        position: absolute;
        bottom: 2px;
        left: 88px;
        cursor: pointer;
    }
    .preview-image {
        width: 100px;
        height: 100px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
    }
}
