/* You can add global styles to this file, and also import other style files */

:root {
    --primary-color: #0052cc !important;
    --primary-contrast-color: #ffffff;
    --secondary-color: blue;
    --secondary-contrast-color: blue;
    --tertiary-color: blue;
    --tertiary-contrast-color: blue;
    --warning-color: #ffab00;
    --muted-color: #8897ae;
    --primary-font-family: "sans-sarif";
    --secondary-font-family: "sans-sarif";
    --tertiary-font-family: "sans-sarif";
    --primary-font-size: 20px;
    --primary-sm-font-size: 18px;
    --secondary-font-size: 16px;
    --tertiary-font-size: 14px;
    --tertiary-sm-font-size: 12px;
}

// @font-face {
//     font-family: "Clash Display";
//     src: url("./assets/fonts/clash-display/ClashDisplay-Medium.otf");
// }

// * {
//     font-family: "Clash Display";
// }

.p-card {
    border-radius: 10px !important;
    box-shadow: 0px 4px 37px 0px rgba(111, 100, 100, 0.04) !important;
    border: 1px solid #eaeaea;
}

h2 {
    font-size: var(--primary-font-size);
    font-weight: 600;
    margin: 0;
    color: #000;
}

h3 {
    font-size: var(--primary-sm-font-size);
    font-weight: 600;
    margin: 0;
    color: #000;
}

.p-dropdown {
    border-radius: 25px !important;
}

.custom-form-control {
    width: 100%;
    border-radius: 4px;
    border: 0.6px solid #f0f0f0;
    background: #f5f7f9;
    font-size: var(--tertiary-font-size);
    color: #000;
    letter-spacing: 0.14px;
    height: 48px;
    padding: 10px;
    font-weight: 500;
    &:focus-visible {
        outline: none !important;
    }
    &::placeholder {
        font-size: var(--tertiary-font-size);
        color: #8897ae;
        font-weight: 400 !important;
    }
}
.custom-dropdown-control {
    padding: 5px 0 5px 0;
    .p-dropdown {
        //     height: 48px;
        background-color: #f5f7f9;
        width: 100%;
        border: none;
        align-items: center;
        height: 48px;
        border-radius: 4px !important;
        .p-dropdown-label {
            color: #000 !important;
            font-weight: 600;
            font-size: var(--tertiary-font-size) !important;
            &.p-placeholder {
                font-weight: 400 !important;
                font-size: var(--tertiary-font-size) !important;
            }
        }
    }
}

label {
    font-size: var(--tertiary-font-size);
    color: #000000;
    font-weight: 500;
    margin: 0 0 8px 0;
}

.p-dropdown .p-dropdown-label.p-placeholder {
    color: #8897ae !important;
    font-size: var(--tertiary-font-size);
    font-weight: 500;
    padding: 6px 12px;
}

.p-datatable .p-datatable-tbody > tr:hover {
    background-color: #e9e9e9 !important;
    cursor: pointer;
}
.p-dialog {
    margin: 0 !important;
    box-shadow:
        20px -9px 0px 0px rgba(0, 0, 0, 0.2),
        20px -4px 38px 3px rgba(0, 0, 0, 0.14),
        20px -15px 0px 8px rgba(0, 0, 0, 0.12);
    max-height: 100% !important;
}
.p-dialog-header {
    padding: 0.5rem 1.5rem !important;
}
.button-with-icon {
    width: 100%;
    justify-content: center;
    .p-button-label {
        flex: none !important;
    }
}
.text-muted {
    color: var(--muted-color) !important;
}
.customer-badge {
    border-radius: 12px;
    padding: 0.25em 0.5rem;
    text-transform: capitalize;
    font-weight: 700;
    font-size: var(--tertiary-sm-font-size);
    letter-spacing: 0.3px;
    font-weight: 500;
    &.active {
        background-color: #daffdd;
        color: #2dcd6f;
    }
    &.pending {
        background-color: #fff3c3;
        color: var(--warning-color);
    }
}

.p-card .p-card-content {
    padding: 0 1rem 0 !important;
}

.text-primary {
    color: var(--primary-color) !important;
}

.bg-primary {
    background-color: var(--primary-color) !important;
    color: var(--primary-contrast-color) !important;
}

.p-focus {
    outline: none !important;
    box-shadow: none !important;
    border-color: none !important;
}

.p-inputtext:enabled:focus {
    outline: none !important;
    outline-offset: none !important;
    box-shadow: none !important;
    border-color: none !important;
}

.login-container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-height: 100vh;
    .p-card {
        width: 500px;
        border-radius: 10px !important;
        box-shadow:
            0px 4px 30px 0px rgba(111, 100, 100, 0.04),
            0px 4px 4px 0px rgba(85, 76, 76, 0.06) !important;
        border: 1px solid #e9f7ff !important;
        h1 {
            font-size: 24px;
            color: #000;
            font-weight: 500;
        }
        p {
            font-size: var(--secondary-font-size);
            color: #8897ae;
            font-weight: 400;
            margin-bottom: 40px;
        }
    }

    button {
        border-radius: 6px !important;
    }

    .p-card-body {
        padding: 36px !important;
    }

    .otp-container {
        width: 100%;
        background-color: #f5f7f9;
        color: #8897ae;
        font-size: var(--primary-font-size);
        text-align: left;
        border-radius: 10px;
        padding: 0 10px;
        height: 48px;
        span {
            font-size: var(--secondary-font-size);
        }
    }
    .p-inputmask {
        border: none;
        background: transparent;
        height: 42px;
        width: 64%;
    }
}

button {
    height: 48px !important;
    font-weight: 500 !important;
    padding-left: 24px !important;
    padding-right: 24px !important;
}

.btn-primary {
    background-color: var(--primary-color) !important;
    color: var(--primary-contrast-color) !important;
    &:hover {
        box-shadow: 0px 4px 42px 0px rgba(119, 206, 255, 0.4) !important;
    }
}

.modal-footer-fixed {
    position: fixed;
    bottom: 0;
    background: #fff;
    height: 82px;
    padding-top: 12px;
    left: 0;
    z-index: 0;
    border-top: 1px solid #fafafa;
}

.full-height-modal {
    .p-dialog {
        min-height: 100%;
    }
}

textarea {
    height: auto !important;
    resize: none;
}

.p-button.p-button-outlined {
    border: 3px solid !important;
}

.p-dialog-header {
    padding: 20px 1.5rem !important;
}

.p-dialog-header-icon {
    width: 25px !important;
    height: 25px !important;
    padding: 20px !important;
}

.primary-button-outlined {
    border-color: var(--primary-color) !important;
    color: var(--primary-color) !important;
}

.p-dialog .p-dialog-header {
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    padding: 32px 32px 16px 32px !important;
}

.p-dialog .p-dialog-footer {
    border-bottom-left-radius: 10px !important;
    border-bottom-right-radius: 10px !important;
    padding: 0 32px 32px 32px !important;
}

.link {
    cursor: pointer;
    color: var(--primary-color) !important;
}
.p-card {
    padding: 16px 0 32px 0;
}
table {
    border-radius: 8px;
    th {
        background-color: #000000 !important;
        color: #ffffff !important;
    }
    tr {
        height: 52px !important;
    }
}
p-sorticon .p-sortable-column-icon {
    color: #ffffff !important;
}
.p-datatable-wrapper {
    border-radius: 8px;
}
.logo {
    i {
        color: #ffff;
        background: #5196fa;
        border-radius: 24px;
        padding: 4px;
        font-size: 10px;
        position: absolute;
        bottom: 2px;
        left: 88px;
        cursor: pointer;
        display: none;
    }
    .preview-image {
        width: 100px;
        height: 100px;
        cursor: pointer;
        background-repeat: no-repeat;
        background-position: top;
        background-size: cover;
        border-radius: 50px;
    }
}
.preview-image {
    width: 100px;
    height: 100px;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    border-radius: 50px;
}
.w-60 {
    width: 60% !important;
    .p-dropdown {
        width: 60% !important;
    }
}
.switch-container {
    display: flex;
    align-items: center;
    label {
        margin-left: 10px;
    }
}